# provider-app local environment
PROVIDER_BACKEND_PORT=8002
PROVIDER_FRONTEND_PORT=3002

# auth-app integration (third/auth)
AUTH_APP_URL=http://host.docker.internal:8001

# frontend landing URL for Django redirect
FRONTEND_URL=http://localhost:3002
